<br>
Your Video: {{{this.name}}}
{{#if this.urlBW}}
<h1>The Black and White Version is Ready!</h1>
<a href="{{{this.urlBW}}}">
  Click to Download
</a>
{{else}}
<p>Your video is not ready yet. Please check again later.</p>
{{/if}}
